<div class="font-heading welcome-page-heading color-dark">IUI<div class="extension">.js</div></div>

<exhibit height="calc(100% - 7rem)">
	<div class="font-heading welcome-page-sub-heading color-mid">Features</div></div>
		<listview class="feature-list" data="::features::">
		<division class="feature-point bullet-div">::text::</division>
		</listview>
	<br><br><br>
	<div class="font-heading welcome-page-sub-heading color-mid">Basic Architecture</div></div>
	<img id="basic-arch" src="/images/basic-arch.svg">
	<br><br><br>
	<div class="font-heading welcome-page-sub-heading color-mid">Extended Architecture</div></div>
	<img id="ext-arch" src="/images/ext-arch.svg">
</exhibit>