body {
    padding: 0;
    margin: 0; 
    line-height: 1em;
    font: 14px  'Didact Gothic', sans-serif;
	height: 100%;
	width: 100%;
    background: hsla(258, 64%, 95%, 1);
}
html{
	font-size: 14px;
	height: 100%;
	width: 100%;
}
.font-heading{
 font: 1em "Baloo Bhai", cursive;	
}

a {
  color: #00B7FF;
}

.front-text{
	position: absolute;
	width: 100%;
    top: calc(50% - 15rem);
    text-align: center;
    color: white;    
    z-index: 2;
	margin-bottom: 1rem;
}
.description {
    font-size: 3rem;
    line-height: 1;
	
}
.big-text {
    font-size: 14rem;
	line-height: 10rem;
}
.extension {
    display: inline-block;
    font-size: 5rem;
}
.backdrop {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
	    top: 0;
    left: 0;
    	background: linear-gradient(-98deg, hsla(257, 76%, 69%, 1),hsla(267, 76%, 24%, 1));
}
.backdrop-traingle {
    background: linear-gradient(45deg,hsla(257, 76%, 10%, 1),hsla(257, 76%, 72%, 1));
    box-shadow: 0 0 29px hsla(257, 76%, 83%, 1);
    position: absolute;
    height: 69%;
    width: 63%;
    right: -14%;
    top: 19%;
    border-radius: 2rem;
    transform: rotateZ(-38deg);
}
.separator {
    display: inline-block;
    width: .1rem;
    background: white;
    height: 3em;
}
.no-select{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}
.section-item:hover {
	color: white;
}.section-item:active {
	color: pink;
}
.section-item {
	color: pink;
	cursor: pointer;
    display: inline-block;
    width: 22%;
    font-size: 4rem;
}
.i-ui-navbar {
    width: 100%;
     color: white;
    z-index: 2;
	top: 0;
}
.i-ui-navbar .section-item {
	margin: 0;
    font-size: 1.5rem;
    width: 9rem;
    text-align: center;
}
.i-ui-navbar .separator{
	height: 1em;
}
.heaeder-links {
    display: inline-block;
    position: absolute;
    right: 0;
}
div#content-exhibit {
    overflow: hidden;
    height: 0;
	display: none;
}
.header-big-text .extension{
	    font-size: 1.5rem;
}
.header-big-text {
    margin-left: -10rem;
    font-size: 2.5rem;
    display: inline-block;
    padding: 0 1rem;
    line-height: 1;
}

.front-exhibit {
    overflow: hidden;
}

#front-section .separator {
	vertical-align: top;
    margin: 2rem 0;
	box-sizing: content-box;
}
#front-section .section-item {
    min-width: 24rem;
	line-height: 3rem;
	vertical-align: top;
    margin: 2rem 0;
}
#front-section {
    width: 100%;
    padding-top: 3rem;
}	
.warning-page-text > div:first-child{
	color:#673ab7;
}
.warning-page-text {
    font-size: 10rem;
    vertical-align: top;
    display: inline-block;
    padding: 3rem;
}
.warning-description{
	font-size: 5rem;
    line-height: 1;
}

#bongo-cat-coder {
	    margin: 2rem;
    border-radius: 30rem;
    height: 30rem;
    border: 12px solid #D32F2F;
    box-shadow: 0 0 11px 1px black, 15px 4px 5px 3px black inset, 0 0 0px 16px #B39DDB;
}

.full-width{
		width: 100%;
}

.full-width .i-ui-list-item{
	display: block;
}

.main-content{
    overflow: auto;
    text-align: center;
    padding: 2rem;
	padding-top: 3rem;
}

.color-light{
	color: #8f6ce2;
}
.color-dark{
	color: #411877;
}
.color-mid{
	color: #673ab7;
}
#ext-arch{
	width: 59%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
img#basic-arch {
    background: white;
    border-radius: 5em;
    width: 59%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border: 1px solid #411877;
}
/************************ Welcome Page ****************************/
.welcome-page-heading {
    font-size: 6rem;
    line-height: 1;
    border-bottom: 2px solid #411877;
}
.welcome-page-sub-heading{
	font-size: 4rem;
}
.welcome-page-heading .extension {
    font-size: 3rem;
}
div#widgets-sidebar {
    border-right: 2px solid #4a2284;
    box-shadow: 2px 0 4px 0 #9674eb;
}

.contents-viewport {
    padding: 2rem;
}

.feature-list .i-ui-list-item.i-ui-container {
    display: block;
    font-size: 2rem;
    line-height: 2;
}
.bullet-div {
    padding-left: 4rem;
}
.bullet-div:before {
    content: '#';
    position: absolute;
    left: 1rem;
    transform: rotateZ(-25deg);
    font-size: 3rem;
    top: 0;
    line-height: 1.5;
    color: #8f6ce2;
}
.widget-list, .container-list,
.container-list .i-ui-list-item, .widget-list .i-ui-list-item {
    display: block;
	padding-left: 0.35rem;
    padding-right: 2px;
}

.sidebar-sub-heading {
    font-size: 1.5em;
    padding: 0.5rem;
    margin-bottom: -8px;
	position: relative;
}
.sidebar-heading {
    padding: 0.5rem;
    line-height: 1em;
    font-size: 1.2em;
}

.sidebar-viewport{
    font-size: 2rem;
}
.sidebar-list-item{
    padding: 0.75rem;
    border-bottom: 1px solid #9573eb4d;
}

.sidebar-list-item:hover{
	color: #8f6ce2;
}
.sidebar-list-item:active{
	color: #673ab7;
	transform: translateX(1px) translateY(1px);	
}
.sidebar-sub-heading, .sidebar-list-container .sidebar-list-item{
	cursor: pointer;
}

span.sidebar-icon.expand-collapse-icon {
    font-size: 0.5em;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 1rem;
    line-height: 3.75em;
    /* background: red; */
}

hr {
    margin: 0;
    border-color: #673ab7;
    /* border: 1px solid; */
}
/*********************************************************************/

.widget-name {
    font-size: 6em;
    line-height: 1;
    margin-top: 0.25em;
}

.widget-type {
    text-transform: uppercase;
    font-size: 2em;
    margin-top: -0.25em;
    padding-left: 0.5em;
}

.i-ui-div.widget-description {
    padding: 1em;
    font-size: 2em;
}

.col-3 {
    width: calc(100% / 3);
	    text-align: center;
}
.col-4 {
    width: calc(100% / 4);
	    text-align: center;
}

.widget-subheading.font-heading.color-mid {
    font-size: 2em;
}
.i-ui-div.widget-main-item {
    font-size: 1.5em;
}	

.example-output-frame {
    display: block;
    height: 25em;
    margin: 2em auto;
    width: 80%;
    background: white;
    border: 1px solid #3f1674;
    outline: none;
    border-radius: 2em;
    box-shadow: 0 0 4px 0 #9674eb;
}
.copyright-info {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 4;
    font-size: 1.2em;
}
/*******************************************************************/

@media only screen and (max-width: 1820px){
	#front-section .section-item {
		min-width: 45rem;
	}
	#front-section .separator:nth-child(4) {
		display: none;
	}
	#bongo-cat-coder {
		height: 28rem;
	}
	.warning-page-text {
		font-size: 10rem;
    }
	.warning-description{
		font-size: 4rem;
	}
}


@media only screen and (max-width: 1080px){
	#front-section .section-item {
		min-width: 100%;
	}
	#front-section .separator {
		display: none;
	}
	.front-text {
	    top: calc(50% - 23rem);
	}
	
	#bongo-cat-coder {
		height: 25rem;
	}
	.warning-page-text {
		font-size: 6rem;
    }
	.warning-description{
		font-size: 3rem;
	}
}

@media only screen and (max-width: 800px){
	.heaeder-links{
		display: none;
	}
	
	#bongo-cat-coder {
		height: 20rem;
	}
	.warning-page-text {
		font-size: 4rem;
    }
	.warning-description{
		font-size: 3rem;
	}
	
}

@media only screen and (max-height: 33rem){
	.front-text{
		top: 1rem;
	}
	
}


@media screen and (max-height: 45rem) and (max-width: 1080px){
	.front-text{
		top: 1rem;
	}
	
}