<html>
<head>
<link rel="stylesheet" type="text/css" href="stylesheets/IUI/IUI.css"></link>
	<link rel="stylesheet" type="text/css" href="stylesheets/IUI/themes/IUI-base.theme.css"></link>
	<link rel="stylesheet" type="text/css" href="stylesheets/IUI/themes/IUI-rounded.theme.css"></link>
	<link rel="stylesheet" type="text/css" href="stylesheets/demostyle.css"></link>
	<link rel="stylesheet" type="text/css" href="stylesheets/font/css/font.css"></link>
	<link rel="stylesheet" type="text/css" href="stylesheets/font/css/googleFonts.css"></link>
</head>
<body>
<div class="col-2 html-container">
	<div class="top-label label-left font-heading color-mid">HTML</div>
	<exhibit class="example-exhibit">
		<div class="example-html">

		</div>
	</exhibit>
</div>
<div class="col-2 output-container">
	<div class="top-label label-right font-heading color-mid">Output</div>
	<exhibit class="example-exhibit">
		<div class="example-output">

		</div>	
	</exhibit>
</div>

<script src='/javascripts/vendors/jquery.js'></script>
<script src='/javascripts/vendors/IUI.js'></script>
</body>
</html>