<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<!--<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Didact+Gothic" rel="stylesheet">-->
	
	<link rel="stylesheet" type="text/css" href="stylesheets/IUI/themes/IUI-base.theme.css"></link>
	<link rel="stylesheet" type="text/css" href="stylesheets/IUI/themes/IUI-rounded.theme.css"></link>
	<link rel="stylesheet" type="text/css" href="stylesheets/IUI/IUI.css"></link>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css"></link>
	<link rel="stylesheet" type="text/css" href="stylesheets/font/css/font.css"></link>
	<link rel="stylesheet" type="text/css" href="stylesheets/font/css/googleFonts.css"></link>

  </head>
  <body>


  <view name="welcome-view" viewmodel="welcome-model" templateurl="/views/welcomeView.html"></view>
 
  <view name="contents-view">
	<sidebar id="widgets-sidebar" width="25rem">
	
	</sidebar>
	<exhibit>
		<viewport class="contents-view" name="contents-viewport">
		
		
		
		</viewport>
	
	</exhibit>
  
  </view>

  <view name="under-construction-view"  class="i-ui-exhibit">
		<img id="bongo-cat-coder" src="/images/bongo-cat-coder.gif">
		<div class="warning-page-text">
			<div>
				<i class="fa fa-warning warning-page-icon"></i>
				<span class="warning-page-heading font-heading">Please Wait </span>
			</div>
			<div class="warning-description">Website Under Development</div>
		</div>
  </view>
  
  <view name="home-view" class="i-ui-exhibit">
	<div class="front-text">
			<div class="big-text font-heading no-select">IUI<div class="extension">.js</div></div>
			<div class="description no-select">Fast and Easy UI Engine</div>
		
			<div id="front-section" class="sections no-select">
				<div class="section-item" data-view="welcome-view" >INTRODUCTION</div>
					<div class="separator" ></div>
				<div class="section-item" data-view="under-construction-view">COMPONENTS</div>
					<div class="separator"></div>
				<div class="section-item" data-view="under-construction-view">VIEWS</div>
					<div class="separator"></div>
				<div class="section-item" data-view="under-construction-view">UTILITIES</div>
			</div>
		</div>
  
  </view>
  
  <exhibit class="home-exhibit">
	<header padding-top="1rem" height="4rem" z-index="3"> 
		<div class="header-big-text font-heading no-select">IUI<div class="extension">.js</div></div>
		<div class="heaeder-links no-select">
			<div class="sections">
				<div class="section-item">Play and Run</div>
					<div class="separator"></div>
				<div class="section-item">Contact Us</div>
					<div class="separator"></div>
				<div class="section-item">Support</div>
					<div class="separator"></div>
				<div class="section-item">Download</div>
			</div>
		</div>
	</header>
	 
	<exhibit class="front-exhibit">
		<viewport name="application-viewport" defaultView="home-view" class="i-ui-exhibit">
			
			
		</viewport>	
		
	</exhibit>
	</exhibit>
	<div class="backdrop"><div class="backdrop-traingle"></div></div>
  
  <script data-main="main.js" src='/javascripts/vendors/require.js'></script>
  </body>
</html>
