<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Didact+Gothic" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="stylesheets/IUI/themes/IUI-base.theme.css"></link>
	<link rel="stylesheet" type="text/css" href="stylesheets/IUI/themes/IUI-rounded.theme.css"></link>
	<link rel="stylesheet" type="text/css" href="stylesheets/IUI/IUI.css"></link>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css"></link>
	<link rel="stylesheet" type="text/css" href="stylesheets/font/css/font.css"></link>

  </head>
  <body>
  <exhibit id="home-exhibit" class="home-exhibit">
	<div class="header">
		<div class="header-big-text font-heading no-select">IUI<div class="extension">.js</div></div>
		<div class="heaeder-links no-select">
			<div class="sections">
				<div class="section-item">Play and Run</div>
					<div class="separator"></div>
				<div class="section-item">Contact Us</div>
					<div class="separator"></div>
				<div class="section-item">Support</div>
					<div class="separator"></div>
				<div class="section-item">Download</div>
			</div>
		</div>
	</div>
  
	<div class="front-text">
		<div class="big-text font-heading no-select">IUI<div class="extension">.js</div></div>
		<div class="description no-select">Fast and Easy UI Engine</div>
	
		<div id="front-section" class="sections no-select">
			<div class="section-item" view="widget-view" >WIDGETS</div>
				<div class="separator" ></div>
			<div class="section-item" view="container-view">CONTAINERS</div>
				<div class="separator"></div>
			<div class="section-item" view="layouts-view">LAYOUTS</div>
				<div class="separator"></div>
			<div class="section-item" view="utility-view">UTILITIES</div>
		</div>
	</div>
	</exhibit>
	<exhibit id="content-exhibit" class="content-exhibit">
		<sidebar width="1rem"></sidebar>
	</exhibit>
	<div class="backdrop"><div class="backdrop-traingle"></div></div>
  
  <script data-main="main.js" src='/javascripts/vendors/require.js'></script>
  </body>
</html>
